<h1>New Participant</h1>

<%= form_with model: [@course, @participant], local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <%# jeśli @course nie jest ustawiony, pozwól na wybór course_id %>
  <% unless @course %>
    <div>
      <%= f.label :course_id, "Course" %><br>
      <%= f.collection_select :course_id, Course.all, :id, :title, include_blank: true %>
    </div>
  <% end %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to "Back", ( @course ? course_path(@course) : places_path ) %>